body {
    background-color: #595959;
}

div {
    margin:0;
    padding:0;
    border:0;
}

.circle {
    background: white;

    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    top: calc((50% - 10px));
    left: calc((50% - 10px));

    animation: circleAnimation 1s infinite;
}

@keyframes circleAnimation {
    0% {   transform: scale(1);}
    50% {  transform: scale(2.5);}
    100% { transform: scale(1);}
}

